@import url("https://fonts.googleapis.com/css?family=Varela+Round");
* {
  padding: 0;
  margin: 0;
  border-radius: 10px;
  font-family: 'Varela Round', sans-serif;
  outline: none; }

body {
  margin-bottom: 100px;
  transition: 2s;
  background-image: url("../image/repeat.jpg");
  background-repeat: repeat; }

#topicContainer {
  display: block;
  float: left;
  background-color: rgba(112, 80, 229, 0.5);
  width: 0;
  transition: 2s; }

.topicTemplate {
  position: relative;
  margin: 40px;
  background-color: rgba(53, 29, 119, 0.7);
  box-shadow: 0.4vw 0.4vw 0 lightcoral;
  font-family: 'Varela Round', sans-serif;
  color: #e8e8e8; }
  .topicTemplate * {
    margin: 5px 0; }
  .topicTemplate .topicText, .topicTemplate h3, .topicTemplate h5 {
    padding: 5px 10px; }
  .topicTemplate img {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50%;
    border: 2px solid lightcoral; }

#writeComment {
  display: none; }

.topicForm {
  display: block;
  float: right;
  text-align: center;
  width: 100%;
  transition: 2s; }
  .topicForm * {
    border-radius: 10px;
    display: inline-block;
    width: 60%;
    margin: 10px 0;
    transition: 2s;
    border: 2px solid white;
    padding: 7px; }
  .topicForm input, .topicForm textarea {
    background-color: #f1ddff; }

textarea {
  resize: none; }

#textBlock::placeholder {
  color: red; }

#closeTopicFormBtn {
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  top: 100px;
  right: 30px;
  transition: 1s;
  cursor: pointer; }

#wrap:hover #closeTopicFormBtn {
  color: red; }

#wrap {
  width: 70%;
  min-width: 740px;
  padding: 100px 20px;
  transition: linear 0.2s;
  position: absolute;
  top: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  background-image: url("../image/repeat_2.png");
  background-repeat: repeat; }

#formErrContainer {
  border-radius: 0;
  color: orangered;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 1;
  transition: 0.5s;
  overflow: hidden;
  background-color: rgba(244, 176, 66, 0.5);
  text-align: center; }
  #formErrContainer:hover > #closeFormError {
    color: red; }

.formError {
  display: inline-block;
  width: 100%; }

#closeFormError {
  position: absolute;
  top: 2px;
  right: 10px;
  transition: 1s;
  cursor: pointer; }

.inputError {
  border: 2px solid red; }

#addTopicBtn {
  position: fixed;
  z-index: 1;
  top: 45px;
  left: 90px;
  width: 160px;
  height: 45px;
  font-size: 20px;
  transform: translate(-50%, -80%); }
  #addTopicBtn:hover {
    font-size: 23px; }

#preview {
  width: 60%;
  border: 2px solid lightcoral; }

.topicTemplate h3 {
  color: deepskyblue; }

.right {
  position: relative;
  display: flex;
  justify-content: flex-end; }

.lowerBtns {
  display: inline-block;
  font-size: 12px;
  color: antiquewhite;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0; }
  .lowerBtns:hover {
    color: red; }

.likes {
  position: absolute;
  left: 0;
  top: 5px;
  cursor: pointer;
  color: antiquewhite;
  margin: 0;
  font-size: 12px; }
  .likes:hover {
    color: red; }

.deleteTopicBtn {
  position: absolute;
  top: -20px;
  right: -20px;
  margin: 0;
  transition: 1s;
  cursor: pointer; }

.commentsForm {
  overflow: hidden;
  width: 60%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  max-height: 0; }

.commentsForm * {
  border-radius: 7px;
  border: 2px solid white;
  display: block;
  margin: 0 auto;
  padding: 5px; }

.commentsForm textarea {
  margin: 10px auto; }

.commentsCont {
  width: 80%;
  margin: 0 auto;
  max-height: 0;
  transition: 2s;
  overflow: hidden; }

#submitTopicBtn {
  width: 160px;
  height: 45px;
  display: block;
  margin: 0 auto;
  font-size: 20px; }
  #submitTopicBtn:hover {
    font-size: 23px; }

.submitComment {
  border-radius: 10px;
  background-color: lightcoral;
  border: none;
  padding: 4px 7px;
  color: #e8e8e8;
  transition: 1s; }
  .submitComment:hover {
    color: yellow; }

.sampleComment {
  overflow: hidden;
  margin-bottom: 5px;
  font-size: 10px;
  border: 1px solid antiquewhite; }
  .sampleComment * {
    color: #d350db;
    display: inline-block;
    padding: 0 7px; }
  .sampleComment .commentText {
    display: block;
    width: 100%;
    color: white; }

.invisible {
  display: none; }

/***********BUTTON***********/
.button {
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 4px;
  color: #e8e8e8;
  border: none;
  border-radius: 10px;
  outline: none;
  background: linear-gradient(45deg, #d350db, teal, #d350db);
  background-size: 400% 400%;
  box-shadow: 7px 7px 0 lightcoral;
  cursor: pointer;
  transition: all 0.3s ease; }
  .button:hover {
    animation: gradient 10s ease infinite;
    font-size: 2.05vw;
    box-shadow: 2px 2px 0 lightcoral; }

@keyframes gradient {
  50% {
    background-position: 100% 0; } }

/*# sourceMappingURL=style.css.map */
